<div class="app-card-container">
  <div class="card">
    <h1>David Ash</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width:"100%", alt:"Profile Image"%>
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized%>"
                  area-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-7">
        <p>I am a software developer with over four years of experience. Over the past four years I have worked with multiple technologies across various platforms.  I recently graduated Bottega Tech, an accredited software programming school I attended to expand my knowledge of programming technologies.  This course has been a wonderful learning experience for me in full stack development using HTML, CSS, SCSS, Angular, JavaScript, jQuery, and PostgreSQL with a specialization in Ruby on Rails.</p>

        <p>In addition to Bottega, I have attended The Ohio State University where I received my Bachelor of Science in Computer Science and Engineering.  I am currently pursuing my Master of Science in Computer Science while remotely attending Old Dominion University.  With every course I complete in the information technology field, my love of software programing continues to grow.  I am constantly looking for learning opportunities while I continuously develop my skills.</p>
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Naval Surface Warfare Center, Dahlgren, VA
            </div>
            <div class="card card-block">
              Office of Technology and Enhanced Learning(OTEL), OSU
            </div>
            <div class="card card-block">
              Department of Computer Science and Engineering, OSU
            </div>
            <div class="card card-block">
              inContact(formerl CallCopy), Columbus, OH
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              Master of Science in Computer Engineering, Old Dominion University
            </div>
            <div class="card card-block">
              Certificate of Completion: Full Stack Accredited Software Development Program
            </div>
            <div class="card card-block">
              Bachelor of Computer Science Engineering, Ohio State University
            </div>
            <div class="card card-block">
              Bachelor of Computer Science Engineering, Ohio State University
            </div>
            <div class="card card-block">
              Associate Degree in Electro/Mechanical Engineering, North Central State College
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
